<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>content</key>
	<dict>
		<key>event</key>
		<array>
			<dict>
				<key>cost</key>
				<string>32000.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25171142omxt.jpg</string>
				<key>event_time</key>
				<string>2016.7-8月</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>43</integer>
				<key>place</key>
				<string>美国东北部肯特学校</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>唯一被全美夏令营协会认可的网球夏令营，一人即可入营。4月30日前通过师佳APP报名立减1000/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25171322eype.png</string>
				<key>title</key>
				<string>美国肯特网球本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/43</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>25800.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25175247aqbg.jpg</string>
				<key>event_time</key>
				<string>2016年7月10日到7月23日</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>46</integer>
				<key>place</key>
				<string>美国洛杉矶</string>
				<key>pos_name</key>
				<string>尚飞</string>
				<key>position_id</key>
				<integer>725</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>尚飞</string>
				<key>summary</key>
				<string>儿童美术教育，并不以培养画家为目的。一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25175017ove9.jpg</string>
				<key>title</key>
				<string>美国洛杉矶绘画创意本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/46</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>55000.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/24174917akhr.jpg</string>
				<key>event_time</key>
				<string>2016.6-8月</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>24</integer>
				<key>place</key>
				<string>美国纽约州</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>美国历史悠久的艾克营地，一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/23134125buej.jpg</string>
				<key>title</key>
				<string>美国艾克本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/24</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>45992.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25174652xqxu.jpg</string>
				<key>event_time</key>
				<string>2016年6月27日至7月17日</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>45</integer>
				<key>place</key>
				<string>宾夕法尼亚州的山间</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>栗湖营地鼓励每个孩子“做一个充满自信的我”。一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25174135nrwi.jpg</string>
				<key>title</key>
				<string>美国栗湖本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/45</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>48380.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25180448dqnk.jpg</string>
				<key>event_time</key>
				<string>2016年6月25日至7月15日</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>48</integer>
				<key>place</key>
				<string>纽约州景色秀丽的南卡茨基尔山脉</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>伊乐泉营地坐落在纽约州景色秀丽的南卡茨基尔山脉，距离纽约仅140公里(约一个半小时车程)一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/251803134soz.jpg</string>
				<key>title</key>
				<string>美国伊乐泉本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/48</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>35000.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/251809338q2q.jpg</string>
				<key>event_time</key>
				<string>2016.7-8月</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>49</integer>
				<key>place</key>
				<string>多伦多</string>
				<key>pos_name</key>
				<string>英维</string>
				<key>position_id</key>
				<integer>724</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>英维</string>
				<key>summary</key>
				<string>培养孩子学习英语的兴趣，最有效的方法是给孩子营造一个全英文的学习和生活环境。10人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25180758isqq.jpg</string>
				<key>title</key>
				<string>加拿大多伦多游学夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/49</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>34878.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/25175856tq9h.jpg</string>
				<key>event_time</key>
				<string>2016年6月26日至7月9日</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>47</integer>
				<key>place</key>
				<string>新罕布什尔州的山间</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>娃卡营地坐落在新罕布什尔州的山间，距离波士顿不到两个小时不到。一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/251757361hs0.jpg</string>
				<key>title</key>
				<string>美国娃卡本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/47</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>38000.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/24175105zyh4.jpg</string>
				<key>event_time</key>
				<string>2016.6-8月</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>26</integer>
				<key>place</key>
				<string>麻省港湾城市德角</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>传奇之乡科德角营地，一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/23140226rags.jpg</string>
				<key>title</key>
				<string>美国科德角本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/26</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>cost</key>
				<string>30000.00</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/24175010ueal.jpg</string>
				<key>event_time</key>
				<string>2016.6-8月</string>
				<key>event_type</key>
				<integer>3</integer>
				<key>html_content</key>
				<string></string>
				<key>id</key>
				<integer>25</integer>
				<key>place</key>
				<string>宾夕法尼亚州波卡努山上</string>
				<key>pos_name</key>
				<string>酷程</string>
				<key>position_id</key>
				<integer>723</integer>
				<key>quota</key>
				<integer>0</integer>
				<key>speaker</key>
				<string>酷程</string>
				<key>summary</key>
				<string>设施顶尖的湖中岛营地，一人即可入营。4月30号前通过师佳APP报名立减1000元/人。</string>
				<key>thumb</key>
				<string>http://image.seeyaa.com.cn/event/2016/03/23135624wubi.jpg</string>
				<key>title</key>
				<string>美国湖中岛本土夏令营</string>
				<key>url</key>
				<string>http://m.seeyaa.com.cn/event/25</string>
				<key>will_num</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>position_platform_album</key>
		<array>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/05/05091021bzbm_200x200.jpg</string>
				<key>pos_name</key>
				<string>优玩机器人（天河北天润路）</string>
				<key>position_id</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/281144391unh_200x200.jpg</string>
				<key>pos_name</key>
				<string>绿瓦美术（天河龙口西）</string>
				<key>position_id</key>
				<integer>712</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/26101646yfrg_200x200.jpg</string>
				<key>pos_name</key>
				<string>师佳</string>
				<key>position_id</key>
				<integer>733</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/2511511159i0_200x200.jpg</string>
				<key>pos_name</key>
				<string>力德优能力（体育西高盛大厦）</string>
				<key>position_id</key>
				<integer>44</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/23194204oujz_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/200943451abj_200x200.jpg</string>
				<key>pos_name</key>
				<string>疯狂机器人（华港花园）</string>
				<key>position_id</key>
				<integer>325</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>2</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/17000659o8bh_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/16133136peer_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/16112744ozld_200x200.jpg</string>
				<key>pos_name</key>
				<string>疯狂机器人（华港花园）</string>
				<key>position_id</key>
				<integer>325</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/09184240zcji_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/04/09184125mb3k_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>album_type</key>
				<integer>1</integer>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/lesson-album/2016/03/302219560m8w_200x200.jpg</string>
				<key>pos_name</key>
				<string>东方三路（六一空间）</string>
				<key>position_id</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
