<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>content</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>activities</key>
				<array>
					<string>48元两节课</string>
				</array>
				<key>address</key>
				<string>滨江东路中信会所3楼（中大北门）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/05/11190202dwd8.jpg</string>
				<key>id</key>
				<integer>732</integer>
				<key>lat</key>
				<string>23.102405</string>
				<key>lng</key>
				<string>113.309224</string>
				<key>pos_name</key>
				<string>Otto2美学绘画（滨江东）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>白云区云城南四路云鼎足球场</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/02/011247285w9m.jpeg</string>
				<key>id</key>
				<integer>702</integer>
				<key>lat</key>
				<string>23.176781</string>
				<key>lng</key>
				<string>113.265219</string>
				<key>pos_name</key>
				<string>起飞足球（白云中心）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区体育西路天荣街9号天荣中学内足球场（地铁体育西路站G出口）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/02/01121622cx1u.jpg</string>
				<key>id</key>
				<integer>703</integer>
				<key>lat</key>
				<string>23.129357</string>
				<key>lng</key>
				<string>113.320089</string>
				<key>pos_name</key>
				<string>起飞足球（体育西中心）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>荔湾区南岸路5号青年公园足球场（地铁中山八D出口）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/02/01121557fazt.png</string>
				<key>id</key>
				<integer>704</integer>
				<key>lat</key>
				<string>23.126713</string>
				<key>lng</key>
				<string>113.228538</string>
				<key>pos_name</key>
				<string>起飞足球（中八中心）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>海珠区紫玉大街18号江南新村第二小学（地铁江南西A出口）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/02/011211283eo7.jpg</string>
				<key>id</key>
				<integer>705</integer>
				<key>lat</key>
				<string>23.094716</string>
				<key>lng</key>
				<string>113.267049</string>
				<key>pos_name</key>
				<string>起飞足球（江南西中心）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区大观路广东省奥体网球中心</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/2415211236zy.jpg</string>
				<key>id</key>
				<integer>503</integer>
				<key>lat</key>
				<string>23.143225</string>
				<key>lng</key>
				<string>113.408345</string>
				<key>pos_name</key>
				<string>奥格网球</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区临江大道399号海滨花园小区网球场（临近珠江新城）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24155655mbwe.png</string>
				<key>id</key>
				<integer>506</integer>
				<key>lat</key>
				<string>23.113151</string>
				<key>lng</key>
				<string>113.342563</string>
				<key>pos_name</key>
				<string>奥格网球（海滨花园）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>海珠区新港西路江南苑网球场（临近中山大学）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24155239h1jw.png</string>
				<key>id</key>
				<integer>505</integer>
				<key>lat</key>
				<string>23.092854</string>
				<key>lng</key>
				<string>113.286726</string>
				<key>pos_name</key>
				<string>奥格网球（江南新苑）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区林和东华庭路（近体育中心）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24162517cwfp.png</string>
				<key>id</key>
				<integer>512</integer>
				<key>lat</key>
				<string>23.145294</string>
				<key>lng</key>
				<string>113.329241</string>
				<key>pos_name</key>
				<string>奥格网球（富力天河华庭）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区天府路.东方三路东逸花园网球场</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24161208mpfo.png</string>
				<key>id</key>
				<integer>509</integer>
				<key>lat</key>
				<string>23.128165</string>
				<key>lng</key>
				<string>113.359974</string>
				<key>pos_name</key>
				<string>奥格网球（东方三路）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>越秀区天河路君汇世家网球场（临近天伦大厦）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24160014yq0h.png</string>
				<key>id</key>
				<integer>507</integer>
				<key>lat</key>
				<string>23.135406</string>
				<key>lng</key>
				<string>113.312485</string>
				<key>pos_name</key>
				<string>奥格网球（天河路君汇世家）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>天河区水荫路115号天溢大厦城市会网球会所</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/24154044lh9i.png</string>
				<key>id</key>
				<integer>504</integer>
				<key>lat</key>
				<string>23.143331</string>
				<key>lng</key>
				<string>113.310899</string>
				<key>pos_name</key>
				<string>奥格网球（天河水荫路）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>78元2节课</string>
				</array>
				<key>address</key>
				<string>广东省广州市越秀区广州大道中289号综合楼7楼</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2015/12/17114719ndjz.jpeg</string>
				<key>id</key>
				<integer>254</integer>
				<key>lat</key>
				<string>23.122593</string>
				<key>lng</key>
				<string>113.314336</string>
				<key>pos_name</key>
				<string>开美绘画（南方报社传媒）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>48元2节课</string>
				</array>
				<key>address</key>
				<string>滨江东路中信君会所3楼（中大北门）</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/05/111858222ylc.jpg</string>
				<key>id</key>
				<integer>15</integer>
				<key>lat</key>
				<string>23.102596</string>
				<key>lng</key>
				<string>113.305641</string>
				<key>pos_name</key>
				<string>Otto2美学手工趣玩（天河滨江东）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>佛山市顺德区乐从镇德华路A219号晖城楼3楼</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/04/151816430u0m.jpg</string>
				<key>id</key>
				<integer>729</integer>
				<key>lat</key>
				<string>22.956950</string>
				<key>lng</key>
				<string>113.099180</string>
				<key>pos_name</key>
				<string>卡列宁舞蹈（顺德乐从）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>佛山市顺德区乐从镇德华路A219号晖城楼3楼</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/04/15181553cllw.jpg</string>
				<key>id</key>
				<integer>730</integer>
				<key>lat</key>
				<string>22.956950</string>
				<key>lng</key>
				<string>113.099180</string>
				<key>pos_name</key>
				<string>卡列宁美术（顺德乐从）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>越秀区东西湖路126号龙湖大厦2楼</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/03/28170945cvfn.jpg</string>
				<key>id</key>
				<integer>722</integer>
				<key>lat</key>
				<string>23.116390</string>
				<key>lng</key>
				<string>113.288560</string>
				<key>pos_name</key>
				<string>乐同艺术中心</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>天河区石牌东路87号旁2楼</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2016/01/19170236o2yh.jpg</string>
				<key>id</key>
				<integer>333</integer>
				<key>lat</key>
				<string>23.133370</string>
				<key>lng</key>
				<string>113.343107</string>
				<key>pos_name</key>
				<string>创世纪吉他（天河石牌东）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>天河区东方一路华港花园</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2015/12/14132528j7cd.jpg</string>
				<key>id</key>
				<integer>228</integer>
				<key>lat</key>
				<string>23.132690</string>
				<key>lng</key>
				<string>113.358520</string>
				<key>pos_name</key>
				<string>丽音舞蹈（华港花园）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>activities</key>
				<array>
					<string>138元4节课</string>
				</array>
				<key>address</key>
				<string>天河区东方一路华港花园</string>
				<key>cover</key>
				<string>http://image.seeyaa.com.cn/position-cover/2015/12/23120919sdo0.jpg</string>
				<key>id</key>
				<integer>272</integer>
				<key>lat</key>
				<string>23.132737</string>
				<key>lng</key>
				<string>113.357139</string>
				<key>pos_name</key>
				<string>丽音声乐（华港花园）</string>
				<key>pos_type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
