<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>content</key>
	<dict>
		<key>ad</key>
		<array/>
		<key>data</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2016/02/02155813tzwp_200x200.jpeg</string>
				<key>cert</key>
				<string>1,2,3,4</string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>区伟兰</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>区伟兰</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>220.00</string>
				<key>summary</key>
				<string>自幼酷爱音乐并学习钢琴艺术，热爱钢琴教育</string>
				<key>teach_age</key>
				<integer>10</integer>
				<key>user_id</key>
				<integer>1487</integer>
				<key>video</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30130510dvta_200x200.jpg</string>
				<key>cert</key>
				<string>1,2,3</string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>1</integer>
				<key>nickname</key>
				<string>黄毅坚</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>黄毅坚</string>
				<key>sex</key>
				<integer>1</integer>
				<key>starting_price</key>
				<string>160.00</string>
				<key>summary</key>
				<string>星海音乐学院，广州花都区青少年宫</string>
				<key>teach_age</key>
				<integer>9</integer>
				<key>user_id</key>
				<integer>141</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30092011bmnq_200x200.jpg</string>
				<key>cert</key>
				<string>1,2,3</string>
				<key>def_region</key>
				<string>广州-越秀区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>王丹曼</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>王丹曼</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>150.00</string>
				<key>summary</key>
				<string>星海音乐学院，舒曼钢琴学校</string>
				<key>teach_age</key>
				<integer>6</integer>
				<key>user_id</key>
				<integer>129</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/04/09112119f3ks_200x200.png</string>
				<key>cert</key>
				<string></string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>1</integer>
				<key>nickname</key>
				<string>廖远健</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>廖远健</string>
				<key>sex</key>
				<integer>1</integer>
				<key>starting_price</key>
				<string>70.00</string>
				<key>summary</key>
				<string>拥有良好的钢琴演奏水平和教学水平</string>
				<key>teach_age</key>
				<integer>1</integer>
				<key>user_id</key>
				<integer>251</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/04/01154251g3qw_200x200.jpg</string>
				<key>cert</key>
				<string>1,2,3</string>
				<key>def_region</key>
				<string>广州-越秀区</string>
				<key>lesson_way</key>
				<integer>1</integer>
				<key>nickname</key>
				<string>郑楚华</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>郑楚华</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>140.00</string>
				<key>summary</key>
				<string>所带学生在参加各类钢琴比赛中成绩突出</string>
				<key>teach_age</key>
				<integer>12</integer>
				<key>user_id</key>
				<integer>243</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30130437kuv8_200x200.jpg</string>
				<key>cert</key>
				<string>1,2</string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>黄淼淼</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>黄淼淼</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>120.00</string>
				<key>summary</key>
				<string>星海音乐学院，某钢琴培训机构</string>
				<key>teach_age</key>
				<integer>3</integer>
				<key>user_id</key>
				<integer>150</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30094657ohpr_200x200.jpg</string>
				<key>cert</key>
				<string>1,2</string>
				<key>def_region</key>
				<string>广州-番禺区</string>
				<key>lesson_way</key>
				<integer>1</integer>
				<key>nickname</key>
				<string>黎丹丹</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>黎丹丹</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>100.00</string>
				<key>summary</key>
				<string>广东文艺职业学院</string>
				<key>teach_age</key>
				<integer>1</integer>
				<key>user_id</key>
				<integer>147</integer>
				<key>video</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30130757sxt0_200x200.jpg</string>
				<key>cert</key>
				<string>1,2,3</string>
				<key>def_region</key>
				<string>广州-番禺区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>林森</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>林森</string>
				<key>sex</key>
				<integer>1</integer>
				<key>starting_price</key>
				<string>70.00</string>
				<key>summary</key>
				<string>广东文艺职业学院</string>
				<key>teach_age</key>
				<integer>1</integer>
				<key>user_id</key>
				<integer>142</integer>
				<key>video</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2015/03/30150842cqjx_200x200.jpg</string>
				<key>cert</key>
				<string>1,2,3,4</string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>朱颖仪</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>朱颖仪</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>170.00</string>
				<key>summary</key>
				<string>湛江师范学院，巴洛克音乐培训中心</string>
				<key>teach_age</key>
				<integer>8</integer>
				<key>user_id</key>
				<integer>133</integer>
				<key>video</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://image.seeyaa.com.cn/2016/02/02165356tm6s_200x200.jpeg</string>
				<key>cert</key>
				<string>1,2,3,4</string>
				<key>def_region</key>
				<string>广州-天河区</string>
				<key>lesson_way</key>
				<integer>3</integer>
				<key>nickname</key>
				<string>杨家梅</string>
				<key>rating</key>
				<integer>10</integer>
				<key>realname</key>
				<string>杨家梅</string>
				<key>sex</key>
				<integer>2</integer>
				<key>starting_price</key>
				<string>150.00</string>
				<key>summary</key>
				<string>毕业于四川泸州职业技术学院</string>
				<key>teach_age</key>
				<integer>10</integer>
				<key>user_id</key>
				<integer>1488</integer>
				<key>video</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
